#home {
  background-image: url(../img/sfondo2.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.modificacontenitore{
	margin-top: 9.375rem;
}

.centerwhite {
  color: #ffffff;
  text-align: center;
}

.lobster{
	font-family: "Lobster", serif;
}

.tangerine {
  font-family: "Tangerine", serif;
}

.testoenorme{
	font-size: 6.25rem;
}

.testogrande{
	font-size: 4.375rem;
}

.testomedio{
	font-size: 3.125rem;
}

.testopiccolo{
	font-size: 1.25rem;
}

.sfondosecpagine { 
  background: url(../img/sfondopagine.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: auto;
}

.contenitoreblu {
	background: #3697dd;
	max-width: 50em;
	margin:auto;
	width:100%;
}

.linea { 
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 3px;
} 

input,td{
	width: 3rem;
	height: 3rem;
	text-align: center;
}

.matrice{
	border-right: 0.2rem outset #000000;
	border-left: 0.2rem outset #000000;
}

.grandezza{
	width: 11rem;
}

.oggettinascosti{
	visibility: hidden;
}